<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email, "EMAIL" %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password, "ПАРОЛЬ" %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, "ПОВТОРИТЕ" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Зарегистрироваться" %></div>
<% end %>
