<%= form_for @user, :html => { :class => "user_form", :id => "edit_user", :multipart => true, :method => :put } do |f| %>
    <div id="sidebar">
      <%= image_tag @user.avatar.url(:normal), :class => "avatar" %>
      <span class="file-wrapper">
        <%= f.file_field :avatar %>
        <span class="button">Изменить фото</span>
      </span>
    </div>
    <div id="content" class="content">
      <h1>Редактировать профиль</h1>
      <div class="inner">

        <div class="field"><%= f.label :nick, "Ник" %>
          <%= f.text_field :nick %></div>

        <div class="field"><%= f.label :status, "Статус" %>
          <%= f.text_field :status %></div>

        <div class="field"><%= f.label :first_name, "Имя" %>
          <%= f.text_field :first_name %></div>

        <div class="field"><%= f.label :last_name, "Фамилия" %>
          <%= f.text_field :last_name %></div>

        <div class="field"><label>ПОЛ</label>
          <%= f.radio_button :gender, true %>
          <%= f.label :gender, "Мужской", :class => "gender" %>
          <%= f.radio_button :gender, false %>
          <%= f.label :gender, "Женский", :class => "gender" %>
        </div>

        <div class="field"><%= f.label :birthday, "День рождения" %>
          <%= f.date_select :birthday, :start_year => 1930, :end_year => (Time.now.year - 5) %></div>

        <div class="field"><%= f.label :about, "О себе" %>
          <%= f.text_area :about %></div>

        <div class="field"><%= f.label :password, 'Пароль <span class="hint">(оставьте пустым если не хотите менять)</span>'.html_safe %>
          <%= f.password_field :password, :autocomplete => "off" %></div>

        <div class="field"><%= f.label :password_confirmation, "Повторите пароль" %>
          <%= f.password_field :password_confirmation %></div>

        <div class="field"><%= f.label :current_password, "Текущий пароль" %>
          <%= f.password_field :current_password %></div>

        <div class="field"><%= f.submit "Сохранить", :class => 'button' %></div>

      </div>
    </div>
<% end %>