<div id="sidebar">
  <%= image_tag @user.avatar.url(:normal), :class => "avatar" %>
  <h2>Подписчики</h2>
  <div class="content inner">
    <ul id="followers">

    </ul>
  </div>
</div>
<div id="content">
  <div id="info" class="content inner">
    <h2><%= @user.last_name %> <%= @user.first_name %></h2>
    <div class="status">
      <%= @user.status %>
    </div>
    <div class="sep"></div>
    <dl class="profile">
      <dt>День рождения:</dt><dd><%= @user.birthday %></dd>
      <dt>Пол:</dt><dd><%= @user.gender ? "Мужской" : "Женский" %></dd>
      <dt>О себе:</dt><dd><%= @user.about %></dd>
    </dl>
  </div>
  <div class="content">
    <h1>Стена</h1>
    <div class="inner">
        <%= form_tag user_posts_path(@user.id),:class => 'new_post', :multipart => true do |f| %>
            <%= text_area_tag :message %>
            <%= submit_tag "Отправить" %>
        <% end %>
        
        <%= render @user.posts %>
    </div>
  </div>

</div>