<div id="sidebar">
  <%= image_tag @user.avatar.url(:normal), :class => "avatar" %>
  <div id="subscribe">
    <%= render 'subscribe' %>
  </div>
  <h2>Подписчики</h2>
  <div class="content inner">
    <% if @user.followers.count > 0 %>
      <ul id="followers">
        <% @user.followers.each do |follower| %>
          <li>
            <%= link_to image_tag(follower.avatar.url(:small), :class => 'avatar'), user_path(follower) %>
            <div class="name"><%= link_to follower.name, user_path(follower) %></div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>This user has no subscribers.</p>
    <% end %>
  </div>
</div>
<div id="content">
  <div id="info" class="content inner">
    <h2><%= @user.last_name %> <%= @user.first_name %></h2>
    <div class="status">
      <%= @user.status %>
    </div>
    <div class="sep"></div>
    <dl class="profile">
      <dt>День рождения:</dt><dd><%= @user.birthday ? @user.birthday.strftime("%-d %B %Y") : "не указан" %></dd>
      <dt>Пол:</dt><dd><%= @user.gender ? "Мужской" : "Женский" %></dd>
      <dt>О себе:</dt><dd><%= @user.about %></dd>
    </dl>
  </div>
  <div class="content">
    <h1>Стена</h1>
    <% @new_post = @user.wall_entries.build %>
    <% @new_post.pictures.build %>
    <%= form_for @new_post, :url => user_posts_path(@user.id), :class => 'new_post', :remote => true, :multipart => true do |f| %>
        <%= f.text_area :message %>
        <span class="file-wrapper">
          <%= f.fields_for :pictures do |p| %>
            <%= p.file_field 'picture' %>
          <% end %>
          <span class="button">ПРИКРЕПИТЬ</span>
        </span>
        <ul id="pending_list"></ul>
        <%= f.submit "Отправить", :class => 'button' %>
    <% end %>
    <div class="inner wall">
        <%= render :partial => 'wall_content', :locals => {:wall => @user.wall_entries.paginate(:page => params[:page], :per_page => 15)} %>
    </div>
  </div>

</div>