<div id="sidebar">
  <%= image_tag @user.avatar.url(:normal), :class => "avatar" %>
  <% unless @user.id == current_user.id %>
      <% if current_user.subscribed_to?(@user.id) %>
          <%= button_to 'Отписаться', unsubscribe_user_path(@user), :class => 'button' %>
      <% else %>
          <%= button_to 'Подписаться', subscribe_user_path(@user), :class => 'button' %>
      <% end %>
  <% end %>
  <h2>Подписчики</h2>
  <div class="content inner">
    <% if @user.followers.count > 0 %>
      <ul id="followers">
        <% @user.followers.each do |follower| %>
          <li>
            <%= link_to image_tag(follower.avatar.url(:small), :class => 'avatar'), user_path(follower) %>
            <div class="name"><%= link_to follower.name, user_path(follower) %></div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>This user has no subscribers.</p>
    <% end %>
  </div>
</div>
<div id="content">
  <div id="info" class="content inner">
    <h2><%= @user.last_name %> <%= @user.first_name %></h2>
    <div class="status">
      <%= @user.status %>
    </div>
    <div class="sep"></div>
    <dl class="profile">
      <dt>День рождения:</dt><dd><%= @user.birthday ? @user.birthday.strftime("%-d %B %Y") : "не указан" %></dd>
      <dt>Пол:</dt><dd><%= @user.gender ? "Мужской" : "Женский" %></dd>
      <dt>О себе:</dt><dd><%= @user.about %></dd>
    </dl>
  </div>
  <div class="content">
    <h1>Стена</h1>
    <%= form_tag user_posts_path(@user),:class => 'new_post', :multipart => true do |f| %>
        <%= text_area_tag :message %>
        <span class="file-wrapper">
                <%= file_field_tag 'pictures[]' %>
          <span class="button">ПРИКРЕПИТЬ</span>
            </span>
        <%= submit_tag "Отправить", :class => 'button' %>
    <% end %>
    <div class="inner">
        <% wall = @user.wall_entries.paginate(:page => params[:page], :per_page => 20) %>
        <%= render wall %>
        <%= will_paginate wall %>
    </div>
  </div>

</div>