<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :class => "user_form", :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field"><%= f.label :email, "EMAIL" %><br />
  <%= f.email_field :email %></div>

  <div class="field"><%= f.submit "Выслать инструкцию по сбросу пароля", :class => 'button' %></div>
<% end %>