<div id="content" class="content">
    <h1>Пользователи</h1>
    <div class="inner">
        <%= form_for('/users', :html => {:id => "users_form"}) do %>
            <table id="users_table" cellspacing="0" cellpadding="0">
              <thead>
                <tr>
                  <td class="check"><%= check_box_tag :select_all %></td>
                  <td class="nick">НИК</td>
                  <td class="last_seen">ПОСЛЕДНИЙ ДОСТУП</td>
                </tr>
              </thead>
              <tbody>
                <%= render @users %>
              </tbody>
            </table>
            Выбранные: <%= select_tag "action", "<option>Выберите действие</option>".html_safe %>
            <%= submit_tag "Применить выбранное" %>
        <% end %>
    </div>
</div>