<!DOCTYPE html>
<html>
<head>
  <title>Besocial</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="top_panel">
      <div class="wrapper">
        <% if user_signed_in? %>
          <%= link_to "Моя страница", root_path, :class => "home" %>
          <span class="sep"></span>
          <%= link_to "Профиль", edit_user_path(current_user.id), :class => "profile" %>
          <%= link_to "Выйти", destroy_user_session_path, :method => :delete, :class => "logout", :confirm => "Вы уверены, что хотите покинуть сайт?" %>
        <% else %>
          <%= render "devise/links" %>
        <% end %>
      </div>
    </div>
    <div id="header_wrap">
        <div id="header" class="wrapper">
          <% if user_signed_in? %>
            <div id="tab_controls">
              <%= link_to "Моя страница", root_path, :class => "tab me"+ (current_page?( :controller => 'home', :action => 'index') ? " active":"") %>
              <%= link_to "Пользователи", users_path, :class => "tab users"+(current_page?( :controller => 'users', :action => 'index')  ? " active":"") %>
              <%= link_to "Новости", news_path, :class => "tab news"+(current_page?( :controller => 'home', :action => 'news')  ? " active":"") %>
            </div>
          <% else %>
            <% if controller_name == 'sessions' %>
              <div id="page_title" class="login">
                <h1>ВХОД</h1>
                <div class="hint">Введите ниже учётные данные</div>
              </div>
            <% end %>
            <% if controller_name == 'registrations' %>
              <div id="page_title" class="login">
                <h1>РЕГИСТРАЦИЯ</h1>
                <div class="hint">Регистрация пользователя</div>
              </div>
            <% end %>
          <% end %>
        </div>
    </div>
    <div id="main">
        <div class="wrapper">
          <% if flash[:warning] or flash[:notice] %>
              <div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
                <%= flash[:warning] || flash[:notice] %>
              </div>
          <% end %>

        <%= yield %>
        </div>
    </div>
    <div id="footer">
         &copy; Copyright 2012 <%= link_to "Rezonans.ru", "http://rezonans.ru" %>. All rights reserved.
    </div>
</body>
</html>
